* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  animation: overflow-body 0ms 3000ms both;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.body {
  animation: body 400ms 3000ms both;
}

@keyframes body {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes overflow-body {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0px 2px 7px #bfbfbf;
}
.header__logo--apparence {
  width: 35%;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
  flex-direction: column;
  background-color: whitesmoke;
}
.header__container__location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  background-color: #ebebeb;
}
.header__container__location .margin_location {
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.header__container__texte {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  flex-direction: column;
}
.header__container__texte__tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__container__texte .title1 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}
.header__container__texte .title2 {
  font-size: 1.2rem;
  font-weight: 100;
}
.header__container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  cursor: pointer;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  border: none;
  font-size: 1rem;
}
.header__container__button:hover {
  background: linear-gradient(#ff99e2, #a06be1);
  box-shadow: 1px 5px 7px #999999;
}

.fonctionnement__title {
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 40px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 35px;
}
.fonctionnement__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fonctionnement__container__bubble {
  width: 80%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: -20px;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  display: flex;
  border-radius: 20px;
  box-shadow: 1px 5px 7px #e6e6e6;
  background-color: whitesmoke;
}
.fonctionnement__container__bubble:hover {
  background-color: #f2eafb;
}
.fonctionnement__container__bubble .margin_txt_bubble {
  margin-top: 0px;
  margin-right: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.fonctionnement__container__bubble .border_number {
  padding-top: 5px;
  padding-right: 9px;
  padding-bottom: 5px;
  padding-left: 9px;
  border-radius: 50px;
  background-color: #9356DC;
  color: #ffff;
  font-size: 0.8rem;
  position: relative;
  left: -10px;
}

.restaurant {
  background-color: #f2f2f2;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  padding-left: 0px;
}
.restaurant__responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.restaurant__title {
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 40px;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.restaurant__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.restaurant__container__card {
  width: 80%;
  height: 240px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
  background-color: #ffff;
  color: black;
  box-shadow: 1px 5px 7px #e6e6e6;
  position: relative;
}
.restaurant__container__card__image {
  position: relative;
  width: 100%;
  height: 70%;
}
.restaurant__container__card__image .img_dimension {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.restaurant__container__card__image .new {
  background-color: #99E2D0;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 2;
  font-size: 0.9rem;
  color: #278870;
}
.restaurant__container__card__caption {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.restaurant__container__card__caption .title1_rest_card {
  font-size: 1.3rem;
  font-weight: 600;
}
.restaurant__container__card__caption .title2_rest_card {
  font-size: 1.2rem;
  font-weight: 100;
}
.restaurant__container__card__caption__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.restaurant__container__card__caption__heart .far.fa-heart {
  cursor: pointer;
  transition: transform 150ms 40ms ease-in-out;
  transform: scale(1);
}
.restaurant__container__card__caption__heart .fas.fa-heart {
  position: absolute;
  background: linear-gradient(170deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: transform 150ms 40ms ease-in-out;
  cursor: pointer;
}
.restaurant__container__card__caption__heart .far.fa-heart:hover + .fas.fa-heart {
  transform: scale(1);
}
.restaurant__container__card__caption__heart .far.fa-heart:hover {
  color: transparent;
  transform: scale(0);
}

.footer {
  background-color: #333333;
  color: #fff;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
}
.footer__logo {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}
.footer__logo--apparence {
  font-family: "Shrikhand", cursive;
  font-size: 1.1rem;
}
.footer__container__icontxt {
  display: flex;
}
.footer__container__icontxt .icon {
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.footer__container__icontxt .icon_hand {
  font-size: 0.9rem;
  margin-top: 0px;
  margin-right: -4px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.footer__container .padding_txt_footer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
}
.footer__container .d-flex {
  display: flex;
  flex-direction: column;
}

footer > p, a {
  color: #fff;
}

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  animation: z-index-bars 0ms 3000ms both;
}
.container__load {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: opacity-bars 400ms 2700ms both;
}
.container__load__bar {
  background: linear-gradient(#9356DC, #FF79DA);
  width: 30px;
  height: 100px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  animation: bars 800ms 3000ms both infinite;
  animation-direction: alternate;
}
.container__load__bar--1 {
  animation-delay: 200ms;
}
.container__load__bar--2 {
  animation-delay: 400ms;
}
.container__load__bar--3 {
  animation-delay: 600ms;
}
.container__load__bar--4 {
  animation-delay: 800ms;
}
.container__load__bar--5 {
  animation-delay: 1000ms;
}

@keyframes z-index-bars {
  0% {
    z-index: 99;
  }
  100% {
    z-index: -99;
  }
}
@keyframes opacity-bars {
  0% {
    opacity: 1;
    z-index: 99;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -99;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@media (min-width: 750px) {
  .header__logo--apparence {
    width: 262px;
  }

  .footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__container {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .fonctionnement__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fonctionnement__container {
    display: flex;
    flex-direction: row;
  }
  .fonctionnement__container__bubble {
    width: 30%;
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .restaurant__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .restaurant__responsive {
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .restaurant__container__card {
    width: 35%;
    margin-top: 0px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
