@import "./utils/variables";
@import "./utils/mixins";



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
}
body
{
    animation: overflow-body 0ms $body-delay both;
    width: 100%;
    height: 100%;
    font-size: 16px;
}


.body
{
    animation: body  400ms $body-delay both;
}

@keyframes body {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes overflow-body {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: visible;
    }
}


.header
{
    &__logo
    {
        @include flex-center;
        @include padding($pdg-top: 15px, $pdg-bottom: 15px);
        @include margin($mrg-bottom: 3px);
        border-bottom: 1px solid $grey;
        box-shadow: 0px 2px 7px hsl(11,0,75);
        &--apparence
        {
            @include width(35%);
        }
    }
    &__container
    {
        @include flex-center;
        @include padding($pdg-bottom: 50px);
        flex-direction: column;
        background-color: hsl(11,0,96);


        &__location
        {
            @include flex-center;
            @include width(100%);
            @include padding($pdg-top: 15px, $pdg-bottom: 15px);
            background-color: hsl(11,0,92);

            .margin_location
            {
                @include margin($mrg-right: 20px);
            }
        }


        &__texte
        {
            @include flex-center;
            @include padding($pdg-top: 30px,$pdg-bottom: 30px);
            flex-direction: column;
            
            &__tittle
            {
                @include flex-center;
                text-align: center;
            }
            
            .title1
            {
                @include title1_apparence;
                @include padding($pdg-bottom: 15px)
            }

            .title2
            {
                @include title2_apparence;
            }
        }
    
        &__button
        {
            @include flex-center;
            @include width(225px);
            @include padding($pdg-top: 15px, $pdg-bottom: 15px,);
            cursor: pointer;
            border-radius: 50px;
            background: linear-gradient($rose,$violet);
            color: #fff;
            border: none;
            font-size: 1rem;

            &:hover
            {
                background: linear-gradient($rose-éclairci,$violet-éclairci);
                box-shadow: 1px 5px 7px hsl(11,0,60);
            }
        }
    }
}


.fonctionnement
{
    &__title
    {
        @include padding($pdg-top: 50px,$pdg-bottom: 40px);
        @include margin($mrg-left: 35px);
    }
    &__container
    {
        @include flex-center;
        flex-direction: column;

        &__bubble
        {
            @include width(80%);
            @include margin($mrg-bottom: 20px, $mrg-left: -20px);
            @include padding($pdg-top: 25px,$pdg-bottom: 25px);
            display: flex;
            border-radius: 20px;
            @include box-shadow;
            background-color: hsl(11,0,96);

            &:hover
            {
                background-color: lighten($violet, $amount: 35%);
            }

            .margin_txt_bubble
            {
                @include margin($mrg-right: 30px);
            }

            .border_number
            {
                @include padding($pdg-top: 5px, $pdg-right: 9px, $pdg-bottom: 5px, $pdg-left: 9px);
                border-radius: 50px;
                background-color: #9356DC;
                color: #ffff;
                font-size: 0.8rem;
                position: relative;
                left: -10px;
            }
        }
    }

}

.restaurant
{  
    background-color: hsl(11,0,95);
    @include padding($pdg-bottom: 40px);

    &__responsive
    {
        @include flex-center;
        flex-direction: column;
        @include width(100%);
    }

    &__title
    {
        @include margin($mrg-top: 50px,$mrg-bottom: 20px, $mrg-left: 40px);
        @include padding($pdg-top: 50px);
    }
    &__container
    {
        @include flex-center;
        flex-direction: column;
       
        &__card
        {
            @include width(80%);
            @include height(240px);
            @include margin($mrg-bottom: 20px);
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 15px;
            background-color: #ffff;
            color: black;
            @include box-shadow;
            position: relative;
            
            &__image
            {
                position: relative;
                @include width(100%);
                @include height(70%);

                .img_dimension
                {
                    position: absolute;
                    @include width(100%);
                    @include height(100%);
                    object-fit: cover;
                    z-index: 1;
                }

                .new
                {
                    background-color: $cyan;
                    @include padding($pdg-top: 5px,$pdg-right: 10px, $pdg-bottom: 5px, $pdg-left: 10px);
                    position: absolute;
                    top: 10%;
                    right: 5%;
                    z-index: 2;
                    font-size: 0.9rem;
                    color: darken($cyan, 40%);
                }

            }
            
            &__caption
            {
                display: flex;
                justify-content: space-between;
                @include margin($mrg-top: 10px, $mrg-right: 20px, $mrg-bottom: 10px, $mrg-left: 20px);
    
                .title1_rest_card
                {
                    @include title1_apparence($size: 1.3rem, $weight: 600);
                }

                .title2_rest_card
                {
                    @include title2_apparence;
                }
                &__heart
                {
                    @include flex-center;
                    font-size: 1.5rem;

                    .far.fa-heart
                    {
                        cursor: pointer;
                        transition: transform 150ms 40ms ease-in-out;
                        transform: scale(1);
                    }

                    .fas.fa-heart
                    {
                        position: absolute;
                        background: linear-gradient(170deg, $violet, $rose);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transform: scale(0);
                        transition: transform 150ms 40ms ease-in-out;
                        cursor: pointer;
                    }

                    .far.fa-heart:hover + .fas.fa-heart
                    {
                       transform: scale(1);
                    }
                    .far.fa-heart:hover
                    {
                        color: transparent;
                        transform: scale(0);
                    }
                
                }
            }
        }
    }

}

.footer
{
    background-color: darken($color: $grey, $amount: 65%);
    color: #fff;
    @include padding($pdg-left: 20px);
    &__logo
    {
        @include padding($pdg-top: 15px, $pdg-bottom: 15px);
        
        &--apparence
        {
            font-family: 'Shrikhand', cursive;
            font-size: 1.1rem;
        }
    }

    &__container
    {
        &__icontxt
        {
            display: flex;

            .icon
            {
                @include margin($mrg-right: 15px);
            }

            .icon_hand
            {
                font-size: 0.9rem;
                @include margin($mrg-right: -4px);
            }
        }
    
        .padding_txt_footer
        {
            @include padding($pdg-bottom: 5px);
        }

        .d-flex
        {
            display: flex;
            flex-direction: column;
        }
    }
}

footer > p,a
{
    color: #fff;
}


.container
{
    @include width(100vw);
    @include height(100vh);
    position: fixed;
    top: 0;
    bottom: 0;
    animation: z-index-bars 0ms 3000ms both;
    &__load
    {
        @include width (100%);
        @include height (100%);
        display: flex;
        align-items: center;
        justify-content: center;
        animation: opacity-bars 400ms 2700ms both;
        &__bar
        {
            background: linear-gradient($violet, $rose);
            @include width (30px);
            @include height (100px);
            @include margin($mrg-left: 10px);
            animation: bars $loading-bar-dur $loading-bar-delay both infinite;
            animation-direction: alternate;
            @for $i from 1 through 5 {
                &--#{$i} {
                    animation-delay: $anim-delay * $i;
                }
            }
        }
    }
}

@keyframes z-index-bars
{
    0% {
        z-index: 99;
    }
    100% {
        z-index: -99;
    }
}

@keyframes opacity-bars
{
    0% {
        opacity: 1;
        z-index: 99;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        z-index: -99;
    }
}
@keyframes bars
{
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}

@media (min-width: 750px)
{
    .header
    {
        &__logo
        {
            &--apparence
            {
                @include width(262px);
            }
        }
    }

    .footer
    {
        &__logo
        {
            @include flex-center;
        }
        &__container
        {
            display: flex;
            justify-content: space-around;
        }
    }

}

@media (min-width: 1200px)
{
    .fonctionnement
    {
        &__title
        {
            @include flex-center;
        }
        &__container
        {
            display: flex;
            flex-direction: row;

            &__bubble
            {
                @include width(30%);
                @include margin($mrg-right: 30px);            
            }
        }
    }

    .restaurant
    {
        &__title
        {
            @include flex-center;
        }

        &__responsive
        {
            flex-direction: row;
            @include width(100%);
            @include margin($mrg-top: 30px, $mrg-bottom: 30px);
        }

        &__container
        {
            &__card
            {
                @include width(35%);
                @include margin($mrg-right: 40px);
            }
        }
    }
}