@import "./utils/variables";
@import "./utils/mixins";


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
}

body
{
    height: 100%;
    font-size: 16px;
    animation: body  800ms 400ms both;
}

@keyframes body {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.header
{
    display: flex;       
    &__arrow
    {
        color: black;
        cursor: pointer;
        text-decoration: initial;
        align-self: center;
        justify-content: flex-start;
        font-size: 1.2rem;
    }

    &__container
    {
        @include width(100%);
        
        &__logo
        {
            @include padding($pdg-top: 15px, $pdg-bottom: 15px);
            @include flex-center;

            &--apparence
            {
                @include width(50%);
            }
        }
    }
}

.position_menu
{
    @include width(100%);
    background-color: hsl(11,0,96);
    &__img
    {
        &--apparence
        {
            @include width(100%);
            @include height(350px);
            object-fit: cover;
        }
    }
}

.menu
{
    @include width(100%);
    @include height(auto);
    flex-direction: column;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: hsl(11,0,96);
    position: relative;
    bottom: 60px;

    &__title
    {
        @include width(85%);
        @include margin ($mrg-left: 25px);
        @include padding ($pdg-top: 40px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &--apparence
        {
            font-family: 'Shrikhand', cursive;
            font-weight: 500;
        }

    
        &--heart
        {
            font-size: 1.5rem;
        }
    }

    .heart
    {
        @include flex-center;
        position: relative;
    }
    .far.fa-heart
    {
        cursor: pointer;
        transition: transform 150ms 40ms ease-in-out;
        transform: scale(1);
    }

    .fas.fa-heart
    {
        position: absolute;
        background: linear-gradient(170deg,$violet,$rose);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
        transition: transform 150ms 40ms ease-in-out;
        cursor: pointer;
    }
    
    .far.fa-heart:hover + .fas.fa-heart
    {
        transform: scale(1);
    }

    .far.fa-heart:hover
    {
        color: transparent;
        transform: scale(0);
    }
    &__container
    {
        @include width(100%);
        flex-direction: column;

        .center_bubble
        {
            @include flex-center;
            flex-direction: column;
        }

        &__title
        {
            @include width(50%);
            display: block;
            @include margin($mrg-bottom: 30px, $mrg-top: 40px, $mrg-left: 25px);
            font-weight: 300;

            .border_title
            {
                @include padding($pdg-bottom: 3px);
                border-bottom: 3px solid $cyan;
            }
        }
        &__bubble
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow: hidden;
            position: relative;
            @include width(90%);
            @include box-shadow;
            @include margin ($mrg-top: 10px, $mrg-bottom: 10px);
            background-color: #fff;
            border-radius: 15px;

            &:hover > .animation_check
            {
                animation: coche-animation 300ms 100ms ease both;
            }

            &:hover > .txt_bubble
            {
                animation: width-animation 300ms 100ms ease both;
            }

            &--name
            {
                font-weight: 500;
                font-size: 1.2rem;
            }

            &__prize
            {
                @include padding ($pdg-top: 10px);
                font-weight: 300;
                font-size: 1rem;
                display: flex;
                justify-content: space-between;

                &--apparence
                {
                    font-weight: 500;
                }
            }
        }
    }

    .txt_bubble
    {
        @include width (100%);
        @include padding($pdg-top: 10px, $pdg-right: 20px, $pdg-bottom: 10px, $pdg-left: 10px);
    }

    .animation_check
    {
        @include width (15%);
        @include height (100%);
        @include flex-center;
        left: 100%;
        position: absolute;
        background-color: $cyan;
        color: #fff;
        font-size: 1.3rem;
    }

    @keyframes width-animation
    {
        0% {
            @include width(100%);
        }
        100%{
            @include width(85%);
        }
    }
    @keyframes coche-animation
    {
        0% {
            left: 100%; 
        }
        100% {
            left: 85%;
        }
    }

    .flex-center__button
    {
        @include width(100%);
        @include flex-center;
        @include padding($pdg-top: 40px, $pdg-bottom:30px);
    }

    &__button
    {
        cursor: pointer;
        @include flex-center;
        @include width(40%);
        @include padding($pdg-top: 15px, $pdg-bottom: 15px,);
        border-radius: 50px;
        background: linear-gradient($rose,$violet);
        color: #fff;
        border: none;
        font-size: 1rem;

        &:hover
        {
            background: linear-gradient($rose-éclairci,$violet-éclairci);
            box-shadow: 1px 5px 7px hsl(11,0,60);
        }
    }
}

.menu_keyframes1
{
    animation: 630ms ease 1116.44ms both opacity-menus;
}

.menu_keyframes2
{
    animation: 630ms ease 1642.28ms both  opacity-menus;
}

.menu_keyframes3
{
    animation: 630ms ease 2214.72ms  both opacity-menus;
}

@keyframes opacity-menus
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.footer
{
    background-color: darken($color: $grey, $amount: 65%);
    color: #fff;
    @include padding($pdg-left: 20px);
    &__logo
    {
        @include padding($pdg-top: 15px, $pdg-bottom: 15px);
        
        &--apparence
        {
            font-family: 'Shrikhand', cursive;
            font-size: 1.1rem;
        }
    }

    &__container
    {
        &__icontxt
        {
            display: flex;

            .icon
            {
                @include margin($mrg-right: 15px);
            }

            .icon_hand
            {
                font-size: 0.9rem;
                @include margin($mrg-right: -4px);
            }
        }
    
        .padding_txt_footer
        {
            @include padding($pdg-bottom: 5px);
        }

        .d-flex
        {
            display: flex;
            flex-direction: column;
        }
    }
}

footer > p,a
{
    color: #fff;
}


@media (min-width: 750px)
{
    .header
    {
        &__arrow
        {
            font-size: 1.5rem;
        }

        &__container
        {
            &__logo
            {
                &--apparence
                {
                    @include width(370px);
                }
            }
        }
    }

    .menu
    {
        &__button
        {
            @include width(300px);
        }
    }

    .footer
    {
        &__logo
        {
            @include flex-center;
        }
        &__container
        {
            display: flex;
            justify-content: space-around;
        }
    }
}

@media (min-width: 1400px) 
{
    .menu
    {
        bottom: 40px;

        &__title
        {
            @include width(95%);
        }

        &__responsive
        {
            display: flex;
            flex-direction: row;
        }
    }    
}