$violet: #9356DC;
$violet-éclairci: #a06be1;
$rose: #FF79DA;
$rose-éclairci:  #ff99e2;
$cyan: #99E2D0;
$grey: hsl(11,0,85);
$anim-delay: 1000ms / 5;
$loading-bar-dur: 800ms;
$loading-bar-delay: 3000ms;
$body-delay:  $loading-bar-delay;
